body{
    background-color: rgb(0, 102, 255);
}
.personal{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    font-style: italic;
    justify-items: baseline;
    justify-content: center;
    align-items: center;
    background-color: rgba(16, 37, 107, 0.801);
    background: linear-gradient(to left, rgba(16,37, 107, 0.801)rgb(16, 38, 108, 0.802));
}
.info{
    position: relative;
    right: 10px;
    top: 0;
}
.lists{
    font-family:'Times New Roman', Times, serif ;
    font-size: medium;
    background-color: rgba(4, 4, 77, 0.164);
    border-radius: 30px;
}